<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")  %>
<body>
    <form class="login" method="POST" action="/login">
        <div>
            <input type="text" name="userName" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>