<footer>
    <section class="footer-Earth">
        <div class="wrapper">
            <a href="mailto:stivendiazh@gmail.com" target="__BLANK" class="iconsocial email">
                <div class="tooltip">Mail</div>
                <span><i class="fa-regular fa-envelope"></i></span>
            </a>
            <a href="https://www.linkedin.com/in/stiven-diaz-19072002dzh/" target="__BLANK" class="iconsocial linkdein">
                <div class="tooltip" translate="no">linkedIn</div>
                <span><i class="fa-brands fa-linkedin"></i></span>
            </a>
            <a href="https://instagram.com/stiven_dz" target="__BLANK" class="iconsocial instagram">
                <div class="tooltip">Instagram</div>
                <span><i class="fa-brands fa-instagram"></i></span>
            </a>
            <a href="https://github.com/StivenDz" target="__BLANK" class="iconsocial github">
                <div class="tooltip">Github</div>
                <span><i class="fa-brands fa-github"></i></span>
            </a>
        </div>
        <p>Copyright &copy;2022 | Stiven Diaz <sup>19</sup></p>
    </section>
</footer>