<section id="loginContainer" class="loginContainer">
    <form id="userForm" action="">
        <p>Login</p>
        <input placeholder="Enter your username..." name="username" type="text" autocomplete="off" required="true" minlength="4" maxlength="12">
        <button type="submit">Sign In</button>
    </form>
</section>