<header class="navigation">
  <div>
    <section>
      <a href="/">
        <img src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.3/mercadolibre/logo__large_plus.png" alt="Logo de Mercado Libre" />
      </a>
      <section>
        <i class="fa-solid fa-location-dot"></i>
        <div>
          <p>Enviar a Stiven</p>
          <p>Santa Marta</p>
        </div>
      </section>
    </section>
    <section>
      <div>
        <input type="text" placeholder="Buscar productos, marcas y más..." />
        <hr />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div>
        <section class="dropDown">
          <a href="/categories">Categorias</a>
          <i class="moreThanReverse" class="fa-solid fa-angle-right"></i>
        </section>
        <a href="#">Ofertas</a>
        <a href="#">Historial</a>
        <a href="#">Supermercado</a>
        <a href="#">Moda</a>
        <a href="#">Vender</a>
        <a href="#">Ayuda / PQR</a>
      </div>
    </section>
    <section>
      <img src="https://http2.mlstatic.com/D_NQ_921393-MLA51371540772_092022-OO.webp" alt="" title="COMBO LOYALTV L6" />
      <div>
        <a href="/signup">Crear tu cuenta</a>
        <a href="/login">Ingresa</a>
        <a href="#">Mis compras</a>

        <div class="cart">

          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </section>
  </div>
</header>